# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
.env/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Log files
*.log

# Dependency and build artifacts
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Operating System specific files
.DS_Store
Thumbs.db