# For CUDA support, please install the appropriate version of torch
# See https://pytorch.org/get-started/locally/
streamlit
faiss-cpu
pypdf
sentence-transformers
transformers
torch
torchvision
torchaudio
langchain
PyMuPDF
langchain_text_splitters